@charset "UTF-8";
body{
	background-image: url(../static/img/2.jpg);
	background-size: cover;
}
canvas{ position: absolute;
 		backface-visibility: hidden; 
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
	 	-ms-backface-visibility: hidden;
}
img {
	 position: absolute;
	 -webkit-transition: opacity .3s;
	  transition: opacity .3s;
	  max-width:  100%;
	width: auto;
	height: auto;
}
.login-box{
	padding:20px 30px;
	width:1000px;
	height:400px;
	position:absolute; 
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.login-form{
	margin: 30px auto auto 0px;
	width: 360px;
}
.login-form>.form-group{
	margin-top: 20px;
}
.rightpic{
	width:500px;
	height:330px;
	position:absolute;
	right:30px;
	top:40px;
	opacity: 0.8;
}

#container{	
	position: relative;
	width:500px;
	height:330px;
}
#learn-lb{
	margin-top: 20px;
	margin-left:40px;
}
#codeimg{
	cursor: pointer;
}
.register-info{
	margin-top: 10px;
	font-size: 18px;
}
.register-a{
	font-size: 20px;
}
.register-a:hover{
	cursor: pointer;
}
.btn-lg{
	margin-right:15px;
	float: right;
}
#code-input{
	width: 125px;
	height: 40px;
	font-weight: bold;
	font-size: 18px;
}
