@charset "UTF-8";
.body-sdiv{
	width: 50%;text-align: center;margin-left: 10%;
}
.title-div{	font-weight:bold;font-size:18px;text-align: center;border-bottom: 2px solid;width: 50%;margin-left: 25%;margin-bottom: 20px;}