<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- goods_type表:产品类型表模块 -->
<mapper namespace="com.heav.photographic.core.mapper.GoodsTypeMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.heav.photographic.core.domain.GoodsType">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="org_id" property="orgId" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="typename" property="typename" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,org_id,parent_id,typename,remarks 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="orgId != null and orgId != '' ">
                and org_id = #{orgId,jdbcType=INTEGER}
            </if>
            <if test="parentId != null and parentId != '' ">
                and parent_id = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="typename != null and typename != '' ">
                and typename = #{typename,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null and remarks != '' ">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.heav.photographic.core.domain.GoodsType">
        insert into goods_type(org_id,parent_id,typename,remarks)values(#{orgId,jdbcType=INTEGER},#{parentId,jdbcType=INTEGER},#{typename,jdbcType=VARCHAR},#{remarks,jdbcType=VARCHAR})
    </insert>

    
    <update id="update" parameterType="com.heav.photographic.core.domain.GoodsType">
        update goods_type set 
            org_id = #{orgId,jdbcType=INTEGER},
            parent_id = #{parentId,jdbcType=INTEGER},
            typename = #{typename,jdbcType=VARCHAR},
            remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update goods_type
          <set>
            <if test="orgId != null and orgId != '' ">        
                org_id = #{orgId,jdbcType=INTEGER},                
            </if>
            <if test="parentId != null and parentId != '' ">        
                parent_id = #{parentId,jdbcType=INTEGER},                
            </if>
            <if test="typename != null and typename != '' ">        
                typename = #{typename,jdbcType=VARCHAR},                
            </if>
            <if test="remarks != null and remarks != '' ">        
                remarks = #{remarks,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from goods_type
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from goods_type
        <include refid="searchBy"/>
    </select>
    
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from goods_type
        <include refid="searchBy"/>
    </select>
    
    <select id="getParentByOrg"  resultMap="BaseResultMap" parameterType="INTEGER">
    	select
    	<include refid="Base_Column_List"/>
    	from goods_type
    	where org_id = #{orgId,jdbcType=INTEGER} and parent_id = -1
    </select>
        
    <delete id="deleteGoodsType" parameterType="INTEGER">
    	delete from goods_type
		where
		id = #{id}
    </delete>
    
</mapper>
